.benefits-section {
    background-color: #f0f4ff;
    padding: 40px 0 0 0;
    text-align: center;
}
  
.benefits-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-family: Helvetica, Arial, sans-serif;
}
  
.benefits-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1280px;
}
  
.benefit-card {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 370px;
}
  
.benefit-icon {
    width: 150px;
    margin-bottom: 15px;
}
  
.benefit-card h4 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
}
  
.benefit-card p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
}
  